#home{
    background: url(../../assets/1120777.jpg) fixed no-repeat;
    background-size: cover;
    height: 100vh;
}

.home_container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home_title{
    text-align: center;
    font-size: 40px;
    color: #fff;
    background-color: #1b1727;
    font-weight: bolder;
    padding: 20px 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home_button_container{
    display: flex;
}

.home_button{
    padding: 15px 25px;
    color: #fff;
    background-color: #0f0d16;
    text-decoration: none;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.home_button:last-of-type{
    margin-left: 30px;
}

.home_button i{
    margin-left: 10px;
    font-size: 18px;
}

@media screen and (max-width: 700px) {
    #home{
        height: calc(100vh - 70px);
        margin-top: 70px;
        background: url(../../assets/mobile1.jpg) fixed no-repeat;
        background-size: cover;
    }
    .home_button_container{
        flex-direction: column;
    }
    .home_button:last-of-type{
        margin-top: 20px;
        margin-left: 0;
    }
    .home_button:hover{
        transform: scale(1)
    }
}

