#home{
    background: url(../../assets/rain.gif) fixed no-repeat;
    background-size: cover;
    height: 100vh;
}

.home_container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home_title{
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding-bottom: 40px;
}

.home_button_container{
    display: flex;
}

.home_button{
    padding: 15px 25px;
    background-color: #2c2541;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.home_button:hover{
    background-color: #181424;
    transform: scale(1.2);
}

.home_button:last-of-type{
    margin-left: 30px;
}

.home_button i{
    margin-left: 10px;
    font-size: 18px;
}

@media screen and (max-width: 700px) {
    .home_button_container{
        flex-direction: column;
    }
    .home_button:last-of-type{
        margin-top: 20px;
        margin-left: 0;
    }
    .home_button:hover{
        transform: scale(1)
    }
}

